/* Reset some default styles for consistency */
body, h1, form {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: hwb(0 93% 7%);
    text-align: center;
    padding: 10px;
}

h1 {
    color: #333;
    padding: 10px
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.loading {
    text-align: center;
    display: none; /* Hide the loading symbol by default */
}

.loading img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin: 20px auto;
    display: block;
}